name: Saucedemo.com-Tests

on: [push, pull_requests]

jobs:
  run-tests:
    runs-on: windows-latest
    steps:
            
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'   # my Python version

      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install playwright
          playwright install

      - name: Run tests
        run: |
          pytest

      - name: Upload Test Reports
        uses: actions/upload-artifact@v3
        with:
          name: TestReports
          path: |
            reports/results.xml
            gen_Test/screenshots/  

